# @thesoulfresh/utils
[![view on npm](http://img.shields.io/npm/v/example.svg)](https://www.npmjs.org/package/example)

Useful utility functions that I find myself using frequently.

{{#functionIndex}}<a href="#{{name}}">{{name}}</a>{{/functionIndex}}
{{!-- {{#each functionIndex}} --}}
{{!--   {{name}} --}}
{{!-- {{/each}} --}}

{{!-- {{#functions}} --}}
{{!--   * {{this}} - {{description}} --}}
{{!-- {{/functions}} --}}

{{>all-docs~}}
